.swiper {

  width: 100%;
  height: 100%;
  margin-top: 100px;
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eeeed8;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swipper-slide p {
  }
  .swiper-button-next,
.swiper-button-prev {
  color: #cf4929; /* Cambia el color */
}
