.swiper {

  width: 100%;
  height: 100%;
  margin-top: 100px;
}
  
@font-face {
  font-family: 'Pulsos';
  src: url('Pulsos-Regular.woff2') format('woff2'),
      url('Pulsos-Regular.woff') format('woff');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

  /* 2. La aplicas solo a los testimonios dentro del slider */
  #testimonios .swiper-slide p {
    font-family: 'Pulsos', serif;
    font-size: 3rem;
    line-height: 1.4;
    margin: 0;
    justify-content: center;   /* centra el contenido horizontal */
    align-items: center;       /* ya lo tienes, centra vertical */
    padding: 0 10vw;  
    max-width: 60ch; 
  }

  .swiper-slide {
    text-align: center;
    font-size: 18px;
    background: #eeeed8;
    display: flex;
    height: 300px;
    justify-content: center;
    align-items: center;
  }

  .swiper-slide img {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .swipper-slide p {
  }
  .swiper-button-next,
.swiper-button-prev {
  color: #cf4929; /* Cambia el color */
}
