#logo {
    font-size: 12rem;
    font-family: var(--font-title);

    margin: 0 auto;
    display: block;
    width: 80%;
    text-align: 60%;

}
#rastro-container{
    width: 100%;
}
#rastro {
	--color-text: #320065;
    --color-bg: #d02d55;
    --color-link: #ffffff;
    --color-link-hover: #000000;
    --color-title: #320065;
    --filter-img: sepia(1) saturate(1) contrast(180%) brightness(80%) hue-rotate(295deg);
}
#rastro img{
    max-width: 640px;
    width: 30%;
    min-width: 180px;

}